
<div *ngFor="let item of palindromes">
  <div *ngIf="isPalindrome(item)"><li style="color:green" >{{item.id}}-{{item.label}}</li></div>
  <div *ngIf="!isPalindrome(item)"><li style="color:red" >{{item.id}}-{{item.label}}</li></div>
</div>
<router-outlet></router-outlet>
<ul class="nav navbar-nav">
  <li routerLinkActive="active"><a routerLink="start">start</a></li>
  <li routerLinkActive="active"><a routerLink="start/stats">stats</a></li>
  <li routerLinkActive="active"><a routerLink="start/palindrome">palindrome</a></li>
</ul>


